<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1><%= listsetting[0].hero[0].title%> <span clsas="d-block">với Ezbooking</span></h1>
                    <p class="mb-4"><%= listsetting[0].hero[0].content%></p>
                    <p>
                        <a href="/guest/shop" class="btn btn-secondary me-2">Thuê ngay</a>
                        <a href="javascript:guestAlert('/login')" class="btn btn-white-outline">Cho thuê</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="<%= listsetting[0].heroimage%>" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<!-- Start Product Section -->
<div class="product-section">
    <div class="container">
        <div class="row">
            <!-- Start Column 1 -->
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Chúng tôi cho thuê nhiều loại xe khác nhau.</h2>
                <p class="mb-4">Các dòng xe đời cũ và đời mới: Dream, Yamaha, Wave, và hơn thế nữa.</p>
                <p><a href="/guest/shop" class="btn">Khám phá ngay</a></p>
            </div>
            <!-- End Column 1 -->

            <% 
            // Function to shuffle an array
            function shuffle(array) {
                for (let i = array.length - 1; i > 0; i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [array[i], array[j]] = [array[j], array[i]];
                }
                return array;
            }
            
            // Shuffle the listProducts array
            const shuffledProducts = shuffle([...listProducts]);
            
            // Slice the first 3 items from the shuffled array
            const randomProducts = shuffledProducts.slice(0, 3);
            %>
            
            <% randomProducts.forEach((item) => { %>
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="/guest/shop/detail/<%= item._id%>/<%= item.salerID%>%>">
                    <img src="<%= item.image %>" class="img-fluid product-thumbnail" style="height: 290px; width: 290px;">
                    <h3 class="product-title"><%= item.name %></h3>
                    <strong class="product-price"><%= item.price.toLocaleString('vi-VN')  %>₫/ 1 ngày</strong>
                    <span class="icon-cross">
                        <img src="/product/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <% }); %>
        </div>
    </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Tại sao lại nên chọn chúng tôi</h2>
                <p>Hiện tại mô hình dịch vụ kinh doanh cho thuê xe máy không thực sự phổ biển ở Việt Nam, nắm bắt cơ
                    hội đó chúng tôi đã lên kế hoạch cho dịch vụ này.
                    Thử nghĩ xem, khi đi chơi đông người bạn muốn muốn tự mình lái một con xe máy hơn hay phải chen
                    lấn chật chội trên một con xe ô tô?</p>
                <div class="row my-5">
                    <% listsetting[0].whychoose.forEach((item) => { %>
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="/product/images/truck.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3><%= item.title%></h3>
                            <p><%= item.content%></p>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="<%= listsetting[0].whychooseimage%>" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-2"><img src="<%= listsetting[0].helpImage[0].Image%>" alt="Image"></div>
                    <div class="grid grid-3"><img src="<%= listsetting[0].helpImage[1].Image%>" alt="Image"></div>
                    <div class="grid grid-1"><img src="<%= listsetting[0].helpImage[2].Image%>" alt="Image"></div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4"><%= listsetting[0].helpObject[0].title%>
                </h2>
                <p><%= listsetting[0].helpObject[0].content%></p>

                <ul class="list-unstyled custom-list my-4">
                    <% listsetting[0].helpDetails.forEach((item) => { %>
                    <li><%= item.content%></li>
                    <% }); %>
                </ul>
                <p><a href="/guest/about" class="btn btn-white-outline">Xem thêm</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End We Help Section -->

<!-- Start Popular Product -->
<div class="popular-product">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="/product/images/product-2.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Honda wave</h3>
                        <p>Xe phù hợp cho leo dốc </p>
                        <p><a href="/guest/blog">Đọc thêm</a></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="/product/images/product-3.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Dream</h3>
                        <p>Xe phù hợp cho bạn ôn lại kỉ niệm xưa</p>
                        <p><a href="/guest/blog">Đọc thêm</a></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="/product/images/product-4.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Yamaha YZF-R15</h3>
                        <p>Xe phù hợp cho cặp đôi</p>
                        <p><a href="/guest/blog">Đọc thêm</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Popular Product -->

<!-- Start Testimonial Slider -->
<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title"><%= listsetting[0].testimonialtitle%></h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span style="padding-top: 20px;" class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span style="padding-top: 20px;" class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">
                        <% listsetting[0].testimonial.forEach((item,index=0) => { %>
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p><%= item.comment%></p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="<%= listsetting[0].testimonialImage[index].Image%>" alt="<%= item.name%>"
                                                    class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold"><%= item.name%></h3>
                                            <span class="position d-block mb-3"><%= item.detail%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END item -->   
                        <% }); %>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->

<!-- Start Blog Section -->
<div class="blog-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <h2 class="section-title">Một số bài đăng gần đây</h2>
            </div>
            <div class="col-md-6 text-start text-md-end">
                <a href="/guest/blog" class="more">Xem toàn bộ bài đăng</a>
            </div>
        </div>

        <div class="row">
            <% listnews.slice(0, 3).forEach((item) => { %>
            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="/guest/blog/blogdetail/<%= item._id%>" class="post-thumbnail"><img src="<%= item.avatar%>" alt="Image" 
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="/guest/blog/blogdetail/<%= item._id%>"><%= item.name%></a></h3>
                        <div class="meta">
                            <span><%= item.author%></span> <span>vào lúc
                                <%= item.createdAt.toISOString().split('T')[0] %></span>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>
<!-- End Blog Section -->
<a href="javascript:guestAlert('/login')">
    <button class="btn btn-primary me-2" 
    style="
    width: 50px;
    height: 50px;
    padding: 0 !important;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    " ><i class="fas fa-comments"></i></button>
</a>