
<!Doctype html lang="en">
<head>
	<%- include('./elements/head.ejs'); %>

	<%- include('./elements/style.ejs'); %>

	<%- include('./elements/script.ejs'); %>
</head>

<body>
	<%- include('./elements/header.ejs'); %>
	<%-body%>

	<a href="/chat">
		<button class="btn btn-secondary me-2" 
	style="
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 10%;" >Chat</button>
	</a>
	<!-- Start Footer Section -->
	<%- include('./elements/footer.ejs'); %>
	<!-- End Footer Section -->

	<%- include('./elements/featureScript.ejs'); %>
	
</body>

</html>