
<!Doctype html lang="en">
<head>
	<%- include('./elements/head.ejs'); %>

	<%- include('./elements/style.ejs'); %>

	<%- include('./elements/script.ejs'); %>
</head>

<body>
	<%- include('./elements/header.ejs'); %>
	<%-body%>


	<!-- Start Footer Section -->
	<%- include('./elements/footer.ejs'); %>
	<!-- End Footer Section -->

	<%- include('./elements/featureScript.ejs'); %>
	
</body>

</html>