<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Quản lý xe cho thuê</h1>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-image">
                    <img src="/product/images/motorlogo.png" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<%- locals.flash %>
<div class="untree_co-section before-footer-section">
<div class="container">
  <div class="row mb-5">
    <form class="col-md-12" method="post">
      <div class="site-blocks-table">
        <table class="table">
          <thead>
            <tr>
              <th class="product-thumbnail">Mã</th>
              <th class="product-name">Loại</th>
              <th class="product-price">Tên</th>
              <th class="product-quantity">Hình</th>
              <th class="product-total">Trạng thái</th>
              <th class="product-total">Trạng thái Thuê</th>
              <th class="product-remove">Xóa</th>
            </tr>
          </thead>

          <tbody>
        <% if(data.length>0){ %>
            <% data.forEach((item, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= item.category %></td>
                    <td class="product-name"><%= item.name%></td>
                    <td class="product-thumbnail"><img src="<%= item.image%>" alt="Image" class="img-fluid" width="25%" height="auto"></td>
                    <td style="color: <%= (item && item.status) === 'active' ? 'green' : 'red' %>">
                      <strong><%= (item && item.status) === 'active' ? 'Đang cho thuê' : 'Chưa được duyệt' %></strong>
                    </td>
                    <td style="color: <%= (item && item.hireState) === 'rentOut' ? 'Orange' : 'Blue' %>">
                      <strong><%= (item && item.hireState) === 'rentOut' ? 'Chưa được thuê' : 'Đã được thuê' %></strong>
                    </td>
                  <% if (item.hireState==='rentOut') { %>
                    <td><a href="javascript:handleDelete('/vehicle/delete/<%=item._id%>')" class="btn btn-black btn-sm" style="opacity: 0.3;">X</a></td>
                  <% } %>
                </tr>
            <% }); %>
        <% } else { %>
            <tr>
                <td colspan="6">Không có dữ liệu</td>
            </tr>
        <% } %>

            
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
</div>