<section class="content">
    <%- locals.flash %>
    <div class="card">
      <div class="card-header">
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form action="" method="get">
            <div class="input-group">
              <input type="search" class="form-control form-control-lg" name="keywords" placeholder="Type your keywords here" value="<%= keyword %>">
              <div class="input-group-append">
                <button type="submit" class="btn btn-lg btn-default">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        </div>
      <div class="card-header">
        
        <div class="status-list col-sm-6 pl0">
          <% statusfilter.forEach((item) => { %>
            <a class="<%= item.class %>" href="<%= item.link %>">
              <%= item.name %> (<%= item.count %>)
            </a>
          <% }); %>                            
        </div>
        
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
            title="Collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="remove"
            title="Remove"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
          <thead>
            <tr>
            <th style="width: 5%; font: size 5%;" >SelectAll<input type="checkbox" id="selectAllCheckbox"></th>
              <th style="width: 8%" >ID</th>
              <th style="width: 8%">Name</th>
              <th style="width: 8%">Description</th>
              <th style="width: 8%">Rental</th>
              <th style="width: 8%">Image</th>
              <th style="width: 8%" class="text-center">Status</th>
              <th style="width: 8%" class="text-center">Hire state</th>
              <th style="width: 8%" class="text-center">Category</th> 
            </tr>
          </thead>
        
            <tbody>
              <% if (data && Array.isArray(data)) { %>
                <% data.forEach((item, index) => { %>
                  <tr>
                    <td><input type="checkbox" name="selectedItems" value="<%= item.id %>"></td>
                    <td><%= index + 1 %></td>
                    <td><%= item.name %></td>
                    <td><%= item.description %></td>
                    <td><%= item.ordering %></td>
                    <td>
                      <img src="<%= item.image %>" alt="Avatar"  class="rounded-circle" style="width: 50px;">
                    </td>               
                    <td class="project-state" id="status-<%= item.id %>">
                      <a href="/changeStatus/<%= item.id %>/<%= item.status %>" onclick="handleUpdateStatus('<%= item.id %>', '<%= item.status %>','product'); return false;">
                        <span class="badge <%= item.status === 'active' ? 'badge-success' : 'badge-danger' %>"><%= item.status %></span>
                      </a>
                    </td>
                    <td class="project-state" >          
                        <span class="badge <%= item.hireState === 'rentOut' ? 'badge-warning' : 'badge-danger' %>"><%= item.hireState %></span>
                    </td>
                    <td class="project-state" id="category-<%= item.id %>">
                      <span class="badge badge-success"><%= item.category %></span>
                    </td>
                    <td class="project-actions text-right text-center">
                      <a class="btn btn-info btn-sm" href="/admin/product/form/<%= item.id %>">
                        <i class="fas fa-pencil-alt"> </i>
                        View
                      </a>
                      <a class="btn btn-danger btn-delete btn-sm" href="javascript:handleDelete('/admin/product/delete/<%= item.id %>')">
                        <i class="fas fa-trash"> </i>
                        Delete
                      </a>
                    </td>
                  </tr>
                <% }); %>
              <% } else { %>
                <tr>
                  <td colspan="6">No data available</td>
                </tr>
              <% } %>
            </tbody>
            
            <div class="input-group-prepend">
              <h1 id="textside" hidden >product</h1>
              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Action
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="/admin/product/changeStatusTool" data-action="set_to_active">Set to Active</a></li>
                <li class="dropdown-item"><a href="/admin/product/changeStatusTool" data-action="set_to_inactive">Set to Inactive</a></li>
                <li class="dropdown-item"><a href="/admin/product/changeStatusTool" data-action="set_to_delete">Set to Delete</a></li>
              </ul>
            </div>
            
          
        </table>
      </div>
    </div>
  </section>