<div style="background-color: white;">
<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1><%= listsetting[0].hero[2].title%></h1>
                    <p class="mb-4"><%= listsetting[0].hero[2].content%></p>
                    <p><a href="/home" class="btn btn-secondary me-2">Khám phá</a>
                        <a href="/blog/blognew" class="btn btn-white-outline">Viết bài</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="<%= listsetting[0].heroimage%>" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Blog Section -->
<div class="blog-section" >
    <div class="container">
        
        <div class="row">
            <% listnews.forEach((item) => { %>
            <div class="col-12 col-sm-6 col-md-4 mb-5">
                <div class="post-entry">
                    <a href="/blog/blogdetail/<%= item._id%>" class="post-thumbnail"><img src="<%= item.avatar%>" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="/blog/blogdetail/<%= item._id%>"><%= item.name%></a></h3>
                        <div class="meta">
                            <span>by <%= item.author%></span> <span>on <%= item.createdAt.toISOString().split('T')[0]%></span>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
            
        </div>
    </div>
</div>
<!-- End Blog Section -->	

<!-- Start Testimonial Slider -->
<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title"><%= listsetting[0].testimonialtitle%></h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span style="padding-top: 20px;" class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span style="padding-top: 20px;" class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">
                        <% listsetting[0].testimonial.forEach((item,index=0) => { %>
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p><%= item.comment%></p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="<%= listsetting[0].testimonialImage[index].Image%>" alt="<%= item.name%>"
                                                    class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold"><%= item.name%></h3>
                                            <span class="position d-block mb-3"><%= item.detail%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END item -->   
                        <% }); %>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->
</div>