<%- locals.flash %>
<section class="content">
  <%
  let item = {}
  if (data) {
       item = data
  }
%>
<style>
  .image-container img {
      width: 100%;  /* Scale according to the width of the form */
      height: auto; /* Adjust automatically to maintain aspect ratio */
      object-fit: cover; /* This will ensure that images are scaled correctly */
  }
  </style>

  <div class="row">
    <div class="col-md-6">

      <!-- Form 1: General Information -->
      <form method="POST" action="/admin/user/form/<%= item._id%>" autocapitalize="true" >
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">General</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="status">Status</label>
              <select name='status' id="status" class="form-control custom-select">
                <option selected disabled="">Select one</option>
                <option value="active" <%= (item.status == "active") ? 'selected="selected"' : '' %> >Active</option>
                <option value="inactive" value="inactive" <%= (item.status == "inactive") ? 'selected="selected"' : '' %>>Inactive</option>
              </select>
            </div>
            <div class="form-group">
                <label for="role">role</label>
                <select name='role' id="role" class="form-control custom-select">
                  <option selected disabled="">Select one</option>
                  <option value="admin" <%= (item.role == "admin") ? 'selected="selected"' : '' %> >admin</option>
                  <option value="user" value="user" <%= (item.role == "user") ? 'selected="selected"' : '' %>>user</option>
                </select>
              </div>
            <button type="submit" class="btn btn-primary float-right">Submit General Info</button>
          </div>
        </div>
      </form>

      <!-- Form 2: User Information -->
      <form autocapitalize="true" >
        <div class="card card-primary">
          <div class="card-header" style="background-color: yellowgreen">
            <h3 class="card-title">User Profile</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">

            <div class="form-group">
              <label style="font-size: larger; margin-bottom: -30px;">General Information</label>
            </div>

            <div class="form-group">
              <label for="Username">Username</label>
              <input name="Model" type="text" id="Username" class="form-control" value="<%= item.username%>" readonly>
            </div>

            <div class="form-group">
              <label for="FullName">Full Name</label>
              <input name="Model" type="text" id="FullName" class="form-control" value="<%= item.userinformation[0].name%>" readonly>
            </div>

            <div class="form-group">
              <label for="Email">Email</label>
              <input name="Model" type="text" id="Email" class="form-control" value="<%= item.userinformation[0].email%>" readonly>
            </div><hr>

            <div class="form-group">
              <label style="font-size: larger; margin-bottom: -30px;">Personal Information</label>
            </div>

            <div class="form-group">
              <label for="DOB">Date of Birth</label>
              <input name="Model" type="date" id="DOB" class="form-control" value="<%= item.userinformation[0].birthday.toISOString().split('T')[0]%>" readonly>
            </div>

            <div class="form-group">
              <label for="IDNumber">ID Number</label>
              <input name="Model" type="text" id="IDNumber" class="form-control" value="<%= item._id %>" readonly>
            </div>

            <div class="form-group">
              <label for="DOI">Date of Issue</label>
              <input name="Model" type="text" id="DOI" class="form-control" value="<%= item.userinformation[0].date.toISOString().split('T')[0]%>" readonly>
            </div>

            <div class="form-group">
              <label for="POI">Place of Issue</label>
              <input name="Model" type="text" id="POI" class="form-control" value="<%= item.userinformation[0].place%>" readonly>
            </div><hr>

            <div class="form-group">
              <label style="font-size: larger; margin-bottom: -30px;">Address Information</label>
            </div>

            <div class="form-group">
              <label for="City">City</label>
              <input name="Model" type="text" id="City" class="form-control" value="<%= item.address[0].city%>" readonly>
            </div>

            <div class="form-group">
              <label for="Distric">Distric</label>
              <input name="Model" type="text" id="Distric" class="form-control" value="<%= item.address[0].district%>" readonly>
            </div>

            <div class="form-group">
              <label for="Ward">Ward</label>
              <input name="Model" type="text" id="Ward" class="form-control" value="<%= item.address[0].ward%>" readonly>
            </div>

            <div class="form-group">
              <label for="Address">Specific Address</label>
              <input name="Model" type="text" id="Address" class="form-control" value="<%= item.address[0].street%>" readonly>
            </div><hr>

            <div class="form-group">
              <label style="font-size: larger; margin-bottom: -30px;">Contact Information</label>
            </div>

            <div class="form-group">
              <label for="PhoneNumber">Phone Number</label>
              <input name="Model" type="text" id="PhoneNumber" class="form-control" value="<%= item.userinformation[0].phone%>" readonly>
            </div><hr>

            <div class="form-group">
              <label style="font-size: larger; margin-bottom: -30px;">Social Media Connection</label>
            </div>

            <div class="form-group">
              <label for="TW">Twitter</label>
              <input name="Model" type="text" id="TW" class="form-control" value="<%= user.link[0].twitter%>" readonly>
            </div>

            <div class="form-group">
              <label for="FB">Facebook</label>
              <input name="Model" type="text" id="FB" class="form-control" value="<%= user.link[0].facebook%>" readonly>
            </div>

            <div class="form-group">
              <label for="IG">Instagram</label>
              <input name="Model" type="text" id="IG" class="form-control" value="<%= user.link[0].instagram%>" readonly>
            </div>


            <div class="form-group">
              <label for="CT">ChoTot</label>
              <input name="Model" type="text" id="CT" class="form-control" value="<%= user.link[0].chotot%>" readonly>
            </div>

          </div>
        </div>
      </form>

      
    </div>

    <div class="col-md-6">

      <!-- Form 3: Image Display -->
      <form  autocapitalize="true" >
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">Image Upload</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">

            <label>Avatar</label>
            <div class="image-container">
                <img src="<%= item.avatar%>" class="img-fluid">
            </div><hr>

            <label>ID Card</label>
            <div class="image-container">
                <img src="<%= item.imagecccd[0].Image%>" class="img-fluid">
            </div>

            <div class="image-container">
              <img src="<%= item.imagecccd[1].Image%>" class="img-fluid">
          </div><hr>

            <label>Driver License</label>
            <div class="image-container">
                <img src="<%= item.certificate[0].Image%>" class="img-fluid">
            </div>

            <div class="image-container">
              <img src="<%= item.certificate[1].Image%>" class="img-fluid">

          </div>
        </div>
      </form>

    </div>
  </div>
</section>