
<!Doctype html lang="en">

<head>
	<%- include('./elements/head.ejs'); %>
</head>

<body>
	<!-- Start Header/Navigation -->
	<%- include('./elements/header.ejs'); %>
	<!-- End Header/Navigation -->
	<%- include('./elements/body.ejs'); %>
	<!-- Start Footer Section -->
	<%- include('./elements/footer.ejs'); %>
	<!-- End Footer Section -->
	<%- include('./elements/script.ejs'); %>

</body>
<!-- test pull -->
</html>